<div class="header-div">
  <div class="header-tittle">
      Bodega
  </div>
</div>

<mat-card>
    <br>
    <div class="row">
        <div class="col">
            <form [formGroup] = "bodegaForm">
              <div class="form-group">
                <input [(ngModel)]="bodega.idWarehouse" name="idBodega" type="hidden" class="form-control" placeholder=""
                formControlName="idBodega">
              </div>
              
                <div class="form-group">
                    <label for="inputDPI">Direccion</label>
                    <input [(ngModel)]="bodega.address" 
                    name="dpi" type="text" class="form-control" placeholder=""
                    formControlName="direccionB">
                    <span style="color:red;">{{getError('direccionB')}}</span>
                </div>
               

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEstado">Estado</label>
                      <select [(ngModel)]="bodega.status" name="estado" id="inputEstado"
                       class="form-control" formControlName="estado">
                        <option selected [value] ="1">activo</option>
                        <option [value] = "0">inactivo</option>
                      </select>
                    </div>
                </div>

                <div class="form-row" >
                  <div class="form-group col-md-6">
                    <label for="inputCategoria">Encargado</label>
                    <select [(ngModel)]="bodega.attendant" name="encargado" id="inputEncargado"
                     class="form-control" formControlName="encargado" >
                      <option  [value] ="us['id_user']" *ngFor="let us of usuarios">{{us.name}}</option>
                      
                    </select>
                  </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-warning btn-block" (click)="guardarB()">
                        Guardar Cambios
                    </button>
                  </div>
                </div>
                
            </form>
        </div>
    </div>

    <br>
</mat-card>
<br>
<br>
<mat-card>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Direccion</th>
        <th scope="col">Encargado</th>
        <th scope="col">Estado</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th> 
      </tr>
    </thead>
    <tbody>
      <!--
      <tr>
        <td>Cajas</td>
        <td>Es una caja para empacar</td>
        <td>No se que sea sku</td>
        <td>0.10</td>
        <td>Almacenar</td>
        <td>
          <button type="submit" (click)="dataBodega()" class="btn btn-warning btn-block">Editar</button>
        </td>
        <td>
          <button type="submit" (click)="eliminarBodega()" class="btn btn-danger btn-block">Eliminar</button>
        </td>
      </tr>
      -->
      <tr *ngFor="let bofs of boegasOf">
        <td>{{mostrarDatos(bofs['warehouse']).address}}</td>
        <td>{{mostrarUsuario(bofs['warehouse'])}}</td>
        <td *ngIf="mostrarDatos(bofs['warehouse']).status">Activo</td>
        <td *ngIf="!mostrarDatos(bofs['warehouse']).status">Inactivo</td>
        <td><button type="submit" (click)="dataBodega(mostrarDatos(bofs['warehouse']))" class="btn btn-warning btn-block">Editar</button></td>
        <td><button type="submit" (click)="eliminarBodega(bofs['idWhOffice'], bofs['warehouse'])" class="btn btn-danger btn-block">Eliminar</button></td>
      </tr>
    
    </tbody>
  </table>
</mat-card>