<div class="header-div">
    <br>
    <span class="header-tittle">Datos Ciudad</span>
</div>
<div class="card border-top-info shadow mb-4">
    <div class="card-body">
        <br>
        <div class="row">   
            <div class="col-12">
                <form [formGroup]="formGroupInfo">
                    <mat-form-field style="width: 100%;" *ngIf="hideInput">
                        <input matInput placeholder="Ciudad" formControlName="idcity" type="text" 
                            readonly>
                    </mat-form-field>

                    <mat-form-field style="width:100%">
                        <mat-label>Departamento</mat-label>
                        <mat-select formControlName="idstate" required>
                            <mat-option *ngFor="let sta of stateList" [value]="sta.idstate">
                                {{sta.detail}}
                            </mat-option>
                        </mat-select>           
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Descripción" formControlName="detail" type="text"
                            required>
                    </mat-form-field>

                    <br>
                    <div class="centered" *ngIf="formGroupInfo.valid">
                    <button *ngIf="hideButtonUpd" mat-raised-button type="submit" (click)="update()"
                        color="primary">Actualizar</button>
                    
                    <button *ngIf="hideButtonAdd" mat-raised-button type="submit" (click)="add()"
                        color="primary">Crear</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


