<div class="container-fluid">
    <div class="row pt-4">
      <div class="col-md-12 text-center mb-2">
        <small> © 2020 made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <span
            class="text-secondary font-weight-bold"> andyCha28</span></small>
      </div>
      <div class="col-md-12 text-center mb-3">
        <a href="https://github.com/Ginny28" target="_blank"
          class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/andyCha28/" target="_blank"
          class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
            class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/andyCha28/" target="_blank"
          class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
            class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>