<div class="header-div">
    <br>
    <span class="header-tittle">Categoria</span>
</div>
<div class="card border-top-info shadow mb-4">
    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Bebidas" #input>
                </mat-form-field>
                  
                  <div class="mat-elevation-z8">
                    <br>  
                    <mat-icon (click)="add()" style="margin-left: 1rem;">add_shopping_cart</mat-icon>
                    <table mat-table [dataSource]="dataApp" matSort>
                      <!-- ID Column -->
                      <ng-container matColumnDef="idcategory">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.idcategory}} </td>
                      </ng-container>
                      <ng-container matColumnDef="detail">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                        <td mat-cell *matCellDef="let row"> {{row.detail}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="update">
                        <th mat-header-cell *matHeaderCellDef>editar</th>
                        <td mat-cell (click)="update(row)" *matCellDef="let row">
                            <a class="btn btn-sm btn-outline-lightning rounded-0">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef>eliminar</th>
                        <td mat-cell (click)="delete(row)" *matCellDef="let row">
                            <a class="btn btn-sm btn-outline-lightning rounded-0">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                      </tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[25,50,75,100]"></mat-paginator>
                  </div>
                  
            </div>
        </div>
    </div>
</div>
