<div class="header-div">
  <div class="header-tittle">
    Graph
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-3">
    <mat-card>
      <h5>Filtros</h5>
      <hr>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="full">
            <mat-label>Fecha inicio</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="filters.init">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full">
          <mat-label>Fecha final</mat-label>
          <input matInput [matDatepicker]="pickerf" [(ngModel)]="filters.end">
          <mat-datepicker-toggle matSuffix [for]="pickerf"></mat-datepicker-toggle>
          <mat-datepicker #pickerf></mat-datepicker>
        </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full">
            <mat-label>tipo grafico</mat-label>
            <mat-select [(value)]="filters.tipo" required>
              <mat-option value="bar">Barra</mat-option>
              <mat-option value="line">Lineal</mat-option>
              <mat-option value="pie">Pie</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full">
            <mat-label>por</mat-label>
            <mat-select [(value)]="filters.por" required>
              <mat-option value="0">mes</mat-option>
              <mat-option value="1">semana</mat-option>
              <mat-option value="2">día</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full">
            <mat-label>Vendedor</mat-label>
            <mat-select [(value)]="filters.seller" required>
              <mat-option value="0">Todos</mat-option>
              <mat-option *ngFor="let seller of sellersList" [value]="seller.id_user">
                {{seller.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="centered">
            <button mat-raised-button color="primary" (click)="viewGraph()">Ver</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-1"></div>
  <div class="col-8">
    <mat-card>
      <h5>Estadísticas</h5>
      <hr>   
    <div class="row">
      <div class="col-12">
    <div class="chart-container" style="position: relative;">
      <canvas id="chart" width="2" height="1"></canvas>
    </div>
      </div>
    </div>
  </mat-card>
  </div>
  </div>
 
