<div class="header-div">
    <br>
    <span class="header-tittle">Depto/Municipio</span>
</div>
<div class="card border-top-info shadow mb-4">
    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-12">

                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Depto">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilterState($event)" placeholder="Ej. Guatemala" #input>
                        </mat-form-field>
                          
                          <div class="mat-elevation-z8">
                            <br>  
                            <mat-icon (click)="addState()" style="margin-left: 1rem;">add_location_alt</mat-icon>
                            <table mat-table [dataSource]="dataAppState" matSort>
                              <!-- ID Column -->
                              <ng-container matColumnDef="idstate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.idstate}} </td>
                              </ng-container>
                              <ng-container matColumnDef="detail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                                <td mat-cell *matCellDef="let row"> {{row.detail}} </td>
                              </ng-container>
                              <ng-container matColumnDef="update">
                                <th mat-header-cell *matHeaderCellDef>editar</th>
                                <td mat-cell (click)="updateState(row)" *matCellDef="let row">
                                    <a class="btn btn-sm btn-outline-lightning rounded-0">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef>eliminar</th>
                                <td mat-cell (click)="deleteState(row)" *matCellDef="let row">
                                    <a class="btn btn-sm btn-outline-lightning rounded-0">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedColumnsState"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumnsState;"></tr>
        
                              <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                              </tr>
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[25,50,75,100]"></mat-paginator>
                          </div>


                    </mat-tab>
                    <mat-tab label="Municipio">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilterCity($event)" placeholder="Ej. Guatemala" #input>
                        </mat-form-field>
                          
                          <div class="mat-elevation-z8">
                            <br>  
                            <mat-icon (click)="addCity()" style="margin-left: 1rem;">maps_ugc</mat-icon>
                            <table mat-table [dataSource]="dataAppCity" matSort>
                              <!-- ID Column -->
                              <ng-container matColumnDef="idcity">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ciudad </th>
                                <td mat-cell *matCellDef="let row"> {{row.idcity}} </td>
                              </ng-container>
                              <ng-container matColumnDef="idstate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> depto </th>
                                <td mat-cell *matCellDef="let row"> {{row.idstate}} </td>
                              </ng-container>
                              <ng-container matColumnDef="detail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                                <td mat-cell *matCellDef="let row"> {{row.detail}} </td>
                              </ng-container>
                              <ng-container matColumnDef="update">
                                <th mat-header-cell *matHeaderCellDef>editar</th>
                                <td mat-cell (click)="updateCity(row)" *matCellDef="let row">
                                    <a class="btn btn-sm btn-outline-lightning rounded-0">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef>eliminar</th>
                                <td mat-cell (click)="deleteCity(row)" *matCellDef="let row">
                                    <a class="btn btn-sm btn-outline-lightning rounded-0">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedColumnsCity"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumnsCity;"></tr>
        
                              <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                              </tr>
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[25,50,75,100]"></mat-paginator>
                          </div>


                    </mat-tab>
                </mat-tab-group>



                
                  
            </div>
        </div>
    </div>
</div>


