<div class="header-div">
    <br>
    <span class="header-tittle">Productos</span>
</div>
<div class="card border-top-info shadow mb-4">
    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-12">
                <form [formGroup]="formGroupInfo">
                    
                    <mat-form-field style="width:100%" *ngIf="!hideInput">
                        <mat-label>Producto</mat-label>
                        <mat-select formControlName="idprod"  required>
                            <mat-option *ngFor="let prod of productList" [value]="prod">
                                {{prod.detail}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Cantidad" formControlName="cantidad" type="text"
                            required>
                    </mat-form-field>

                    <br>
                    <div class="centered" *ngIf="formGroupInfo.valid">
                    <button *ngIf="hideButtonUpd" mat-raised-button type="submit" (click)="update()"
                        color="primary">Actualizar</button>
                    
                    <button *ngIf="hideButtonAdd" mat-raised-button type="submit" (click)="add()"
                        color="primary">Agregar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

