<br>
<br>
<br>
<br>
<br>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="http://www.estuderecho.com/utilidades/usac/plg.JPG" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form [formGroup] = "formLogin" >
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" class="form-control input_user"  placeholder="username" 
                        formControlName="username">
                        <span style="color:red;">{{getError('username')}}</span>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="clave" class="form-control input_pass"  
                        placeholder="password" formControlName="clave">
                        <span style="color:red;">{{getError('clave')}}</span>
                    </div>
                    <div class="input-group mb-2" >
                        <div class="input-group-append" style=" width: 100%;">
                          <select name="Rol" id="inputRol" class="form-control" formControlName="Rol" >
                            <option value="" selected disabled hidden >Seleccione role</option>
                            <option  [value] ="1" >Encargado</option>
                            <option  [value] ="2" >Vendedor</option>
                            <option  [value] ="3" >Bodeguero</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" name="button" class="btn login_btn" 
                        [disabled] = "formLogin.invalid"
                        (click)="logearse()">Login  
                        </button>
                    </div>
                </form>
            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
