<aside class="sidebar shadow-sm" *ngIf="user">
  <perfect-scrollbar>
    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
      <div class="picture-wrapper mb-4">
        <div class="user-picture m-auto" style="background-color: coral;">
          <img src="./assets/img/avatarW.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="profile-details text-center pb-4">
        <p class="mb-0 text-uppercase name">BIENVENIDO</p>
        <small class="text-uppercase role">{{user}}</small>
      </div>
    </div>
    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
      <input type="search" class="form-control rounded-pill" name="search" placeholder="Buscar ...">
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
      <div class="menu-header mt-3 mb-2">
        Menú
      </div>
      <ul class="menu-items">
        <li *ngIf="rol == 1">
          <a href="#" [routerLink]="'usuarios'" routerLinkActive="active">
            <i class="fas fa-chart-line"></i>
            <span>Usuarios</span>
          </a>
        </li>
        <li *ngIf="rol == 1">
          <a href="#" [routerLink]="'category'" routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span>Categoria</span>
          </a>
        </li>
        <li *ngIf="rol == 1">
          <a href="#" [routerLink]="'producto'" routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span>Producto</span>
          </a>
        </li>
        <li *ngIf="rol == 2">
          <a href="#" [routerLink]="'sale'" routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span>Venta</span>
          </a>
        </li>
        <li *ngIf="rol == 1">
          <a href="#" [routerLink]="'city'" routerLinkActive="active">
            <i class="fas fa-images"></i>
            <span>City</span>
          </a>
        </li>
        <li *ngIf="rol == 1 ">
          <a href="#"  [routerLink]="'sede'" routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span>Sede</span>
          </a>
        </li>
        <li *ngIf="rol == 2"> 
          <a href="#" [routerLink]="'cliente'" routerLinkActive="active">
            <i class="fas fa-images"></i>
            <span>Clientes</span>
          </a>
        </li>
        <li *ngIf="rol == 2">
          <a href="#" [routerLink]="'graph'" routerLinkActive="active">
            <i class="fas fa-images"></i>
            <span>Graph</span>
          </a>
        </li>
      </ul>
            
    </nav>
  </perfect-scrollbar>
</aside>