<div class="wrapper default-theme" [ngClass]="getClasses()">
    <app-lex-top-navbar></app-lex-top-navbar>
    <main>
        <app-lex-top-sidebar></app-lex-top-sidebar>
        <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
            <div id="main-page">
                <router-outlet></router-outlet>
            </div>            
            <hr>                     
            <app-lex-top-footer></app-lex-top-footer>            
        </div>
        <div class="overlay" (click)="toggleSidebar()"></div>
    </main>
</div>
