<div class="header-div">
  <div class="header-tittle">
      Registro User
  </div>
</div>

<mat-card>
    <br>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="inputDPI">DPI</label>
                    <input [(ngModel)]="dpi" name="dpi" type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                  <label for="inputName">Nombre</label>
                  <input [(ngModel)]="name" name="name" type="text" class="form-control" id="inputName">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input [(ngModel)]="correo" name="correo" type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Password</label>
                      <input [(ngModel)]="contrasenia" name="contrasenia" type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFechaNace">Fecha Nacimiento</label>
                    <input [(ngModel)]="fecha_nace" name="fecha_nace" type="date" class="form-control" placeholder="">
                </div>
                <br>
                <div class="form-row">
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-4">
                    <button type="submit" (click)="InsertUser()" class="btn btn-success btn-block">Crear Usuario</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <br>
</mat-card>