<div class="row align-items-center" style="height: 720px">
    <div class="col-12 col-sm-12 mx-auto p-3 text-center">
        <a href="#">
            <img src="assets/img/cone.png" alt="img" height="256">
        </a>
        <div class="text-xs font-weight-bold text-primary text-uppercase m-3">
            En Construcción</div>
    </div>
    <div class="col-12 col-sm-12 mx-auto pt-3 text-center"></div>
</div>