/* You can add global styles to this file, and also import other style files */
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

$hamburger-padding-x           : 0px !default;
$hamburger-padding-y           : 0px !default;
$hamburger-layer-width         : 25px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-layer-spacing       : 5px !default;
$hamburger-layer-color         : #9b9ea2 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '~ngx-toastr/toastr-bs4-alert';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss";

@import "assets/style/lex-top.scss";


.header-div {
    background-color:#364370;
    height: 6rem;
    width: 100%;
    border-radius: 20px;
  }

  .header-tittle {
    text-align: left;
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 40px;
    color: whitesmoke;
  }

  .card{
    border-radius: 20px;
  }

  .centered{
    text-align: center;
}
  
