<div class="header-div">
  <div class="header-tittle">
      Productos
  </div>
</div>

<mat-card>
    <br>
    <div class="row">
        <div class="col">
            <form [formGroup] = "productoForm">
              <div class="form-group">
                <input [(ngModel)]="producto.idProduct" name="idProducto" type="hidden" class="form-control" placeholder=""
                formControlName="idProducto">
              </div>
              <div class="form-group">
                <label for="inputNombre">Nombre Producto</label>
                <input [(ngModel)]="producto.name" name="idUser" type="text" class="form-control" placeholder=""
                 formControlName = "nombreP">
                 <span style="color:red;">{{getError('nombreP')}}</span>
              </div>
                <div class="form-group">
                    <label for="inputDPI">Detalle</label>
                    <input [(ngModel)]="producto.detail" 
                    name="dpi" type="text" class="form-control" placeholder=""
                    formControlName="detalleP">
                    <span style="color:red;">{{getError('detalleP')}}</span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputSku">Sku</label>
                      <input [(ngModel)]="producto.sku" name="sku" type="text"
                       class="form-control" id="inputSku"
                       formControlName="skuP">
                       <span style="color:red;">{{getError('skuP')}}</span>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPrecio">Precio</label>
                      <input [(ngModel)]="producto.price" name="precio" 
                      type="text" class="form-control" id="inputPrecio"
                      formControlName="precioP">
                      <span style="color:red;">{{getError('precioP')}}</span>
                    </div>
                </div>
                <div class="form-group" *ngIf="producto.idProduct > 0">
                  <label for="inputCategorias">Categorias</label>
                  <div class="row" >
   
                    <!-- Portfolio Item 1 -->
                    <div class="col-md-6 col-lg-4" *ngFor="let cat1 of cxp">
                      
                      <label for="mostrarCat">{{mostrarCat(cat1['idcategory'])}}</label>
                      <button class="delete" title="eliminar categoria"
                        (click)="deleteCat(cat1)">x</button>   
                    </div>
                  </div>
                  
                </div>

                <div class="form-group" *ngIf="producto.idProduct == 0">
                  <label for="inputCategorias">Categorias</label>
                  <div class="row" >
   
                    <!-- Portfolio Item 1 -->
                    <div class="col-md-6 col-lg-4" *ngFor="let cat1 of ingresarCategorias">
                      
                      <label for="mostrarCat">{{cat1.detail}}</label>
                      <button class="delete" title="eliminar categoria"
                        (click)="deleteMemo(cat1)">x</button>   
                    </div>
                  </div>
                
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCategoria">Categoria</label>
                      <select [(ngModel)]="ingCat" name="categoria" id="inputCategoria"
                       class="form-control" formControlName="categoria" (change)="agregarCategoria()">
                        <option [ngValue] ="cat" *ngFor="let cat of categorias">{{cat.detail}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-warning btn-block" (click)="guardarP()">
                        Guardar Cambios
                    </button>
                  </div>
                </div>
                
            </form>
        </div>
    </div>

    <br>
</mat-card>
<br>
<br>
<mat-card>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Detalle</th>
        <th scope="col">Sku</th>
        <th scope="col">Precio</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th> 
      </tr>
    </thead>
    <tbody>
      <!--
      
      <tr>
        <td>Cajas</td>
        <td>Es una caja para empacar</td>
        <td>No se que sea sku</td>
        <td>0.10</td>
        <td>Almacenar</td>
        <td>
          <button type="submit" (click)="dataProducto()" class="btn btn-warning btn-block">Editar</button>
        </td>
        <td>
          <button type="submit" (click)="eliminarProducto()" class="btn btn-danger btn-block">Eliminar</button>
        </td>
      </tr>
    -->

      <tr *ngFor="let prod of productos">
        <td>{{prod.name}}</td>
        <td>{{prod.detail}}</td>
        <td>{{prod.sku}}</td>
        <td>{{prod.price}}</td>
        <td>
          <button type="submit" (click)="dataProducto(prod)" class="btn btn-warning btn-block">Editar</button>
        </td>
        <td>
          <button type="submit" (click)="eliminarProducto(prod)" class="btn btn-danger btn-block">Eliminar</button>
        </td>
      </tr>
      
    
    </tbody>
  </table>
</mat-card>