<mat-card>

    <div class="jumbotron" >
        <strong><h1 class="display-4" style="text-align: center; color:#134675">WAREHOUSE SYSTEM</h1></strong>
        <p class="lead"style="text-align: center; color:#134675"></p>
        <div class="row justify-content-center" >
            <img class="img-profile rounded-circle " style="position: relative;"  width="193" height="230" 
            src="assets/img/warehouse.jpg" alt="avatar">  
          </div>
      </div>

</mat-card>
