<div class="header-div">
    <br>
    <span class="header-tittle">Datos Categoria</span>
</div>
<div class="card border-top-info shadow mb-4">
    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-12">
                <form [formGroup]="formGroupInfo">
                    <mat-form-field style="width: 100%;" *ngIf="hideInput">
                        <input matInput placeholder="id Categoria" formControlName="idcategory" type="text" 
                            readonly>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Descripción" formControlName="detail" type="text"
                            required>
                    </mat-form-field>

                    <br>
                    <div class="centered" *ngIf="formGroupInfo.valid">
                    <button *ngIf="hideButtonUpd" mat-raised-button type="submit" (click)="update()"
                        color="primary">Actualizar</button>
                    
                    <button *ngIf="hideButtonAdd" mat-raised-button type="submit" (click)="add()"
                        color="primary">Crear</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


