
<div class="header-div">
  <div class="header-tittle">
      Usuarios
  </div>
</div>
<mat-card>
    <br>
    <div class="row">
      <div class="col">
          <form>
            <div class="form-group">
              <label *ngIf="viewedit" for="inputDPI">ID</label>
              <input *ngIf="viewedit" [(ngModel)]="idUser" name="idUser" type="text" class="form-control" placeholder="">
            </div>
              <div class="form-group">
                  <label for="inputDPI">DPI</label>
                  <input [(ngModel)]="dpi" name="dpi" type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label for="inputName">Nombre</label>
                <input [(ngModel)]="name" name="name" type="text" class="form-control" id="inputName">
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input [(ngModel)]="correo" name="correo" type="email" class="form-control" id="inputEmail4">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input [(ngModel)]="contrasenia" name="contrasenia" type="password" class="form-control" id="inputPassword4">
                  </div>
              </div>
              <div class="form-group">
                  <label *ngIf="!viewedit" for="inputFechaNace">Fecha Nacimiento</label>
                  <input *ngIf="!viewedit" [(ngModel)]="fecha_nace" name="fecha_nace" type="date" class="form-control" placeholder="">
              </div>
              <br *ngIf="viewedit">
              <div class="form-group">
                <label *ngIf="viewedit" for="inputName">Rol Actual:&nbsp;</label>
                <label *ngIf="viewedit" for="inputrolAct">{{temprol}}</label>
              </div>
              <br *ngIf="viewedit">
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputState">Rol</label>
                  <select [(ngModel)]="selectrol" name="selectrol" id="inputState" class="form-control">
                    <option select>Seleccionar...</option>
                    <option *ngFor="let rols of datarol">{{rols.detail}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="form-group col-md-2"></div>
                <div class="form-group col-md-4">
                  <button *ngIf="!viewedit" type="submit" (click)="InsertUser()" class="btn btn-success btn-block">Crear Usuario</button>
                </div>
                <div class="form-group col-md-4">
                  <button type="submit" (click)="UpdateUser()" class="btn btn-warning btn-block">Guardar Cambios</button>
                </div>
              </div>
          </form>
      </div>
    </div>
    <br>
</mat-card>
<br>
<br>
<mat-card>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id Usuario</th>
        <th scope="col">DPI</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Correo</th>
        <th scope="col">Password</th>
        <th scope="col">Rol</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th> 
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let user of this.data">
        <td>{{user.idUser}}</td>
        <td>{{user.dpi}}</td>
        <td>{{user.name}}</td>
        <td>{{user.birth}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.password}}</td>
        <td></td>
        <td>
          <button type="submit" (click)="dataUser(user.idUser, user.dpi, user.name, user.birth,
          user.mail,user.password)" class="btn btn-warning btn-block">Editar</button>
        </td>
        <td>
          <button type="submit" (click) = "DeleteUser(user.idUser)" class="btn btn-danger btn-block">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>