<div class="header-div">
    <br>
    <span class="header-tittle">Ventas</span>
</div>
<div class="card border-top-info shadow mb-4">
    <div class="card-body">

        <form [formGroup]="formGroupInfo">
            <div class="row">
                <div class="col">
                    <mat-form-field style="width: 50%;">
                        <input matInput placeholder="Nit" formControlName="nit" type="text" required>
                    </mat-form-field>
                    <button mat-mini-fab (click)="findCustomer()" *ngIf="this.formGroupInfo.value.nit">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
                <div class="col">
                    <input matInput placeholder="Cliente" value="{{this.nameTmp}}" type="text" required readonly>
                </div>
                <div class="col">
                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Fecha" formControlName="date" type="text" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Vendedor" formControlName="sellerName" type="text" required readonly>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Tipo venta</mat-label>
                        <mat-select formControlName="tipo" required>
                            <mat-option value="0">Local</mat-option>
                            <mat-option value="1">A domicilio</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <div class="centered" *ngIf="formGroupInfo.valid">
                        <button mat-raised-button type="submit" (click)="validate()" color="primary">Validar
                            datos</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>

        <div class="mat-elevation-z8">
            <br>  
            <mat-icon (click)="add()" style="margin-left: 1rem;">add_shopping_cart</mat-icon>
            <table mat-table [dataSource]="dataApp" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="idproductList">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row"> {{row.idproductList}} </td>
              </ng-container>
              <ng-container matColumnDef="idprod">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> producto </th>
                <td mat-cell *matCellDef="let row"> {{row.idprod}} </td>
              </ng-container>
              <ng-container matColumnDef="idsale">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Venta </th>
                <td mat-cell *matCellDef="let row"> {{row.idsale}} </td>
              </ng-container>
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
              </ng-container>
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
              </ng-container>
              
              <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
              </ng-container>
              <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>editar</th>
                <td mat-cell (click)="update(row)" *matCellDef="let row">
                    <a class="btn btn-sm btn-outline-lightning rounded-0">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>eliminar</th>
                <td mat-cell (click)="delete(row)" *matCellDef="let row">
                    <a class="btn btn-sm btn-outline-lightning rounded-0">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[25,50,75,100]"></mat-paginator>
          </div>
          
          <br>
          <br>

          <div class="centered" *ngIf="showFact">
            <button mat-raised-button type="submit" (click)="generateInvoice()" color="primary">Factura</button>
        </div>
    </div>
</div>