<div class="header-div">
    <br>
    <span class="header-tittle">Datos Cliente</span>
</div>
<div class="card border-top-info shadow mb-4">
    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-12">
                <form [formGroup]="formGroupInfo">
                    <mat-form-field style="width: 100%;" *ngIf="hideInput">
                        <input matInput placeholder="id Cliente" formControlName="id_customer" type="text" 
                            readonly>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Nombre" formControlName="nombre" type="text"
                            required>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="DPI" formControlName="dpi" type="text"
                            required>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Nit" formControlName="nit" type="text"
                            required>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Direccion" formControlName="address" type="text"
                            required>
                    </mat-form-field>


                    <mat-form-field style="width:100%">
                        <mat-label>Officina</mat-label>
                        <mat-select formControlName="id_office" required>
                            <mat-option *ngFor="let ofi of officeList" [value]="ofi.id_office">
                                {{ofi.alias}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>
                    <div class="centered" *ngIf="formGroupInfo.valid">
                    <button *ngIf="hideButtonUpd" mat-raised-button type="submit" (click)="update()"
                        color="primary">Actualizar</button>
                    
                    <button *ngIf="hideButtonAdd" mat-raised-button type="submit" (click)="add()"
                        color="primary">Crear</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

