$navbar-height: 60px;
$sidebar-width:260px;
$sidebar-pinned-wdth:70px;

$bg-color:#f2f3f8;
$navbar-bg-color : #364370;
$navbar-color:#6e7899;
$sidebar-bg-color:#fff;
$sidebar-color:#3d4465;
$sidebar-icon-color:#c4cff9;
$border-color: #f2f3f8;



