<div class="header-div">
  <div class="header-tittle">
      Sedes
  </div>
</div>

<mat-card>
    <br>
    <div class="row">
        <div class="col">
            <form [formGroup] = "sedeForm">
                <div class="form-group">
                    <input [(ngModel)]="sede.id_office" name="idSede" type="hidden" class="form-control" placeholder=""
                    formControlName="idsede">
                </div>
              <div class="form-group">
                <label for="inputAlias">Alias de Sede</label>
                <input [(ngModel)]="sede.alias" name="alias" type="text" class="form-control" placeholder=""
                 formControlName = "aliasS">
                 <span style="color:red;">{{getError('aliasS')}}</span>
              </div>
                <div class="form-group">
                    <label for="inputDireccion">Direccion</label>
                    <input [(ngModel)]="sede.address" 
                    name="direccion" type="text" class="form-control" placeholder=""
                    formControlName="direccionS">
                    <span style="color:red;">{{getError('direccionS')}}</span>
                </div>
               

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCategoria">Municipio</label>
                      <select [(ngModel)]="sede.id_city" name="municipio" id="inputMunicipio"
                       class="form-control" formControlName="municipio" >
                        <option [value] = "muni.idcity" *ngFor="let muni of cities">{{muni.detail}}</option>
                      </select>
                    </div>
                </div>

                <div class="form-row" >
                    <div class="form-group col-md-6">
                      <label for="inputCategoria">Encargado</label>
                      <select [(ngModel)]="sede.id_attendant" name="encargado" id="inputEncargado"
                       class="form-control" formControlName="encargado" >
                        <option  [value] ="us['id_user']" *ngFor="let us of usuarios">{{us.name}}</option>
                        
                      </select>
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-warning btn-block" (click)="guardarS()">
                        Guardar Cambios
                    </button>
                  </div>
                </div>
                
            </form>
        </div>
    </div>

    <br>
</mat-card>
<br>
<br>
<mat-card>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Alias</th>
        <th scope="col">Direccion</th>
        <th scope="col">Municipio</th>
        <th scope="col">Encargado</th>
        
      </tr>
    </thead>
    <tbody>
      <!--
      <tr>
        <td>Momosteca</td>
        <td>Sobre el periferico</td>
        <td>Mixco</td>
        <td>Alan Perez</td>
        <td>
          <button type="submit" (click)="dataSede()" class="btn btn-warning btn-block">Editar</button>
        </td>
        <td>
          <button type="submit" (click)="eliminarSede()" class="btn btn-danger btn-block">Eliminar</button>
        </td>
      </tr>
      -->
      <tr *ngFor="let sed of sedes">
        <td>{{sed.alias}}</td>
        <td>{{sed.address}}</td>
        <td>{{getMunicipio(sed['id_city'])}}</td>
        <td>{{getEncargado(sed['id_attendant'])}}</td>
        <td>
          <button type="submit" (click)="dataSede(sed)" class="btn btn-warning btn-block">Editar</button>
        </td>
        <td>
          <button type="submit" (click)="eliminarSede(sed)" class="btn btn-danger btn-block">Eliminar</button>
        </td>

        <td>
          <button type="submit" routerLink="/crudbodega/{{sed.id_office}}" class="btn btn-info btn-block">Agregar Bodega</button>
        </td>

      </tr>
    
    </tbody>
  </table>
</mat-card>